.wai-signup-form {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid lighten($black, 90%);
	border-radius: 4px;
	p.form-title {
		text-align: center;
		color: $grey;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: 600;
	}
	a.forgot-password {
		color: $grey;
		text-decoration: none;
		border-bottom: 1px solid $grey;
		font-size: 14px;
	}
}

.checkbox-group {
	margin-bottom: 30px;
}

.form-group {
	position: relative;
}

.form-control-feedback {
	&.wai-icon {
		margin-top: 16px;
		color: $primary;
		font-size: 20px;
	}
}

input {
	box-shadow: none!important;
}

.mobile-filter-form {
	margin-bottom: 30px;
	input {
		padding: 25px 15px;
	}
}

.company-name-input {
	padding: 25px 15px;
}

.ui-widget-header {
	background: $primary!important;
}