nav.wai-nav {
	// remove background colour for transparent background
	background-color: $primary;
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	padding: 0 40px;
	z-index: 1000;
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    @include transition (all 200ms ease);
    @media screen and (max-width: $break-medium) {
		display: block;
		padding: 0;
		background-color: $primary;
	}
	.wai-nav-logo {
		height: 90px;
		display: flex;
		align-items: center;
		a {
			color: white;
			font-size: 14px;
		}
		@media screen and (max-width: $break-medium) {
			overflow: hidden;
			padding: 18px 0 18px 40px;
		}
	}
	ul.wai-nav-list {
		padding: 0;
		margin: 0;
		display: flex;
		li {
			display: flex;
			list-style: none;
			margin-left: 20px;
			a {
				color: white;
				letter-spacing: 2px;
				display: flex;
				align-items: center;
				@include transition(all .3s ease);
				&.wai-btn-nav {
					display: block;
					padding: 8px 12px;
					border: 2px solid white;
					text-align: center;
					min-width: 140px;
					border-radius: 100px;
					&:hover {
						background: $primary;
						color: white;
					}
					@media screen and (max-width: $break-medium) {
						margin: 20px 40px;
					}
				}
				@media screen and (max-width: $break-medium) {
					display: block;
					width: 100%;
					padding: 25px 40px;
					font-size: 16px;
					border-bottom: 1px solid lighten($primary, 14%);
				}
				&:hover {
					text-decoration: none;
					color: $secondary;
				}
			}
			@media screen and (max-width: $break-medium) {
				margin-left: 0;
			}
		}
		@media screen and (max-width: $break-medium) {
			display: none;
			background-color: lighten($primary,8%);
			border-top: 1px solid darken($primary, 8%);
		}
	}
	.wai-nav-icon {
		position: absolute;
		top: 30px;
		right: 40px;
		display: none;
		@media screen and (max-width: $break-medium) {
			display: block;
		}
	}
}

.nav-scrolled {
	background-color: $primary;
	transition: background-color 200ms ease;
}

.nav-hide {
	opacity: 0;
	@media screen and (max-width: $break-medium) {
		opacity: 1;
	}
}