.wai-tabs {
	li {
		@media screen and (max-width: $break-large) {
			width: 100%;
		}
		a {
			border: 0!important;
			background: transparent!important;
			color: $grey;
			&:hover {
				border-bottom: 1px solid $primary!important;
			}
			&.notification {
				position: relative;
				span {
					position: absolute;
					width: 15px;
					height: 15px;
					background: $secondary;
					color: white;
					text-align: center;
					border-radius: 100px;
					top: 0;
					right: 0;
					font-size: 10px;
				}
			}
			@media screen and (max-width: $break-large) {
				border-bottom: 1px solid $light-grey!important;
			}
		}
		&.active {
			border-bottom: 1px solid $primary!important;
			&:hover {
				border: 0!important;
			}
		}
	}
}

.tab-results {
	padding: 30px 0;
	border-top: 1px solid $light-grey;
	&.first {
		border: 0;
	}
	p.title {
		color: $primary;
		font-size: 20px;
		margin-bottom: 5px;
	}
	p.place {
		font-size: 16px;
		color: $grey;
		margin-bottom: 10px;
	}
	.indicator-wrap {
		display: flex;
		align-items: center;
		.indicator {
			width: 10px;
			height: 10px;
			background: $secondary;
			border-radius: 100px;
		}
		p {
			margin-left: 6px;
			margin-bottom: 0;
			font-size: 13px;
		}
	}
	.star-wrap {
		text-align: right;
		display: flex;
		align-items: center;
		p {
			margin-bottom: 0;
		}
		.star {
			margin-left: 10px;
		}
	}
}